:root {
    --white: #ffffff;
    --purple: #524fd5;
    --valvet: #fff5f1;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.2rem;
  font-size: 3.8vw;
  font-family: "Imprima", sans-serif;
}

@media (max-width: 464px) {
  html {
    font-size: 4vw;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 1.2em;
  }
}

/* common styles ......................... */

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  vertical-align: middle;
}

a {
  display: contents;
}
.underline {
  text-decoration: underline;
}

.defaultBtn {
  min-height: 3rem;
  width: 8rem;
  border-radius: 2rem;
  padding: 0rem 0.5rem;
  font-size: 1.1rem;
  border: none;
  box-shadow: 1px 1px;
  color: var(--white);
  background-color: var(--purple);
  font-family: var(--defaultFont);
}
.defaultBtn:hover {
  box-shadow: 3px 3px rgb(217 204 231 / 90%);
}
