.page{
    margin-top: -2rem;
    background-color: #c877bc47;
    background-image: url("../../../assets/bg3vh.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    margin: 1rem 0rem 2rem;
    text-align: center;
}

.content {
    padding: 0rem 2rem;
    font-family: cursive;
}

.credit_container {
    margin-bottom: 4rem;
}
.credit_heading {
    margin-bottom: 1rem;
}

.credit_owners {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
}